* {
  margin: 0;
  padding: 0;
}

body {
  background-color: gray;
}

/* Estilos navbar */
header {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background-color: #18233F;
  margin-right: 9%;
}

header .logo_img{
width: 70px;
}

#navbar {
  height: 60px;
  background-color: #18233F;
}

.opciones {
  display: flex;
  list-style: none;
  padding-top: 9px;
  gap: 2.2em;
  margin-left: 10px;
}

.opciones li {
  display: inline-block;
  padding-top: 9px;
}

.opciones li a {
  text-decoration: none;
  color: white;
  font-size: 25px;
}

.opciones li button {
  font-size: 24px;
  height: 90%;
  width: 110px;
  cursor: pointer;
  margin-right: 1%;
  border-radius: 10px;
  border: none;
  text-align: center;
  margin-top: 2px;
}

.abrir-btn{
  display: none;
}

/* Vitrina de productos */
.container_general {
  width: 80%;
  background-color: #D9D9D9;
  margin-left: 10%;
  margin-right: 20%;
  margin-top: 20px;
  position: relative;
}

/* Barra de búsqueda */
.container_general .search_form {
  display: flex;
  justify-content: flex-end;
  margin-right: 10%
}

.search_form .search_input {
  margin-top: 1%;
  height: 27px;
  width: 350px;
  border: 2px solid black;
  text-align: center;
}

/* png de filtro */
.filtro_busqueda {
  position: relative;
  width: 30px;
  height: 29px;
  margin-top: 1%;
  right: -33px;
  cursor: pointer;
  border-right: 3px solid black;
}

/* search icon */
.search_icon {
  position: relative;
  height: 24px;
  margin-top: 1.3%;
  right: 30px;
}

/* Estilos de las cartas/productos */
.container_productos {
  display: flex;
  margin-top: 20px;
  margin-left: 12%;
  margin-right: 100px;
  gap: 4em;
  flex-wrap: wrap;
}
/* Carta */
.card {
  border: 1px solid #9E9E9E;
  border-radius: 5px;
  box-shadow: 0px 5px 5px rgba(39, 38, 38, 0.755);
  transition: transform 0.3s ease;
}
.card:hover{
  transform: translateY(-5px);
  box-shadow: 0px 40px 40px rgba(39, 38, 38, 0.755);
}

.imagen_carta {
  width: 100%;
}

.informacion_carta {
  margin-left: 5px;
}

.informacion_carta p {
  font-size: 22px;
  font-weight: bold;
}

.informacion_carta .stats_card {
  list-style: none;
  margin-top: 5px;
}

.stats_card li {
  font-size: 19px;
  margin-top: 1px;
}

.options-card {
  background-color: #E0E0E0;
  margin-top: 4px;
  border-top: 1px solid #9E9E9E;
  display: flex;
  height: 50px;
}

.options-card #wish-list {
  margin-left: 5px;
  height: 40px;
  width: 90px;
  background-color: #33A64C;
  border: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 8px;
  margin-top: 5px;
  font-size: 15px;
}

.options-card #carrito {
  margin-left: 5px;
  height: 40px;
  width: auto;
  margin-top: 5px;
  font-size: 15px;
  background-color: #DB2843;
  border: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 7px;
  margin-right: 10px;
  white-space: normal;
}

/* 1312 */
/* 1182 */
/* ARREGLAR NAVBAR */
/* Media navbar */

/* 1768 */
/* 1665 */

@media screen and (max-width:1681px) and (min-width:1664px){
  .container_productos{
    margin-left: 110px;
  }
    .card{
  margin-left: 20px;
  }
  .informacion_carta p{
    font-size: 40px;
  }
  .informacion_carta li{
    font-size: 25px;
  }
  .options-card #wish-list{
    font-size: 25px;
  }
  .options-card #carrito{
    font-size: 24px;
    white-space: normal;
  }
  .opciones{
  margin-top: -20px;
  }

}

@media screen and (min-width:1682px) and (max-width:1920px){
.container_productos{
  margin-left: 10%;
}
  .card{
margin-left: 50px;
}
.informacion_carta p{
  font-size: 40px;
}
.informacion_carta li{
  font-size: 25px;
}
.options-card #wish-list{
  font-size: 20px;
}
.options-card #carrito{
  font-size: 20px;
  white-space: normal;
}

.opciones li{
  margin-top: -12px;
}
}
@media screen and (min-width: 1630px) {
  header {
    margin-right: 15%;
  }
  .opciones li a {
    font-size: 35px;
  }

  .opciones li button {
    font-size: 35px;
    width: 150px;
  }
}
/* 1716 */
/* 1682 */

/* 12633424324 */
/* 1197 */
@media screen and (max-width:1197px) {
  .opciones li a {
    font-size: 21px;
  }

  .opciones li {
    padding-top: 10px;
  }

  .opciones {
    gap: 1.2em;
    margin-left: 10px;
  }

  .opciones li button {
    font-size: 22px;
    width: 100px;
    margin-left: 0;
  }

  .card{
    margin-left: 36px;
    margin-right: -35px;
  }
  .container_productos{
    margin:auto;
    margin-top: 20px;
    gap:3em;
  }
}

@media screen and (max-width:1071px){
  .card{
    margin-left: 12px;
    margin-right: auto;
  }
  .container_productos{
    gap: 1.8em;
  }
}
@media screen and (max-width: 1045px) {
  .opciones {
    padding-top: 10px;
  }

  .opciones li a {
    font-size: 21px;
  }

  .opciones li button {
    font-size: 19px;
    height: 24px;
  }

  .opciones {
    gap: 0.6em;
  }

}

@media screen and (max-width: 970px) {

  .abrir-btn {
    display: block;
    margin-left: 80%;
    height: 5vh;
    padding-top: 15px;
    cursor: pointer;
    background-color: aqua;
  }

  .opciones {
    flex-direction: column;
    align-items: end;
    color: black;
  }

  .opciones li {
    margin-top: 2px;
  }

  .opciones li button {
    width: 100px;
  }

  #navbar {
    position: absolute;
    top: 6.3%;
    right: 0;
    background-color: black;
    padding: 1.2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 2;
  }

  #navbar.visible {
    opacity: 1;
    visibility: visible;
  }
  /* carta */
  .container_productos{
    margin-left: 40px;
    margin-right: 20px;
  }
}

@media screen and (max-width:838px) {
  header {
    width: 100%;
  }


  #navbar {
    top: 56px;
  }

  header .login_btn{
    position: absolute;
    right: 10px;
    background-color: aqua;
  }
}
@media screen and (max-width:693px){
.informacion_carta p{
  font-size: 18px;
}
.informacion_carta li{
  font-size: 15px;
}
.options-card #wish-list{
font-size: 14px;
width: 35%;
}
.options-card #carrito{
  font-size: 14px;
  width: 40%;
white-space: normal;
}
.card{
  box-sizing: border-box;
  width: 40%;
  margin-left: 0;
}
.card img{
  width: 80%;
}
.barra_busqueda .search_input{
margin-left: 40px;
}
.search_form .filtro_busqueda{
 left: 70px;
}
.search_form .search_icon{
  right: 56px;
  top: 2px;
}
}
