* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #304C8B;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Estilos navbar */
header {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background-color: #18233F;
  margin-right: 9%;
}

header .logo_img{
width: 70px;
}

#navbar {
  height: 60px;
  background-color: #18233F;
}

.opciones {
  display: flex;
  list-style: none;
  padding-top: 9px;
  gap: 2.2em;
  margin-left: 10px;
}

.opciones li {
  display: inline-block;
  padding-top: 9px;
}

.opciones li a {
  text-decoration: none;
  color: white;
  font-size: 24px;
}

.opciones li button {
  font-size: 24px;
  height: 90%;
  width: 110px;
  cursor: pointer;
  margin-right: 1%;
  border-radius: 10px;
  border: none;
  text-align: center;
  margin-top: 2px;
}

.abrir-btn{
  display: none;
}

@media screen and (min-width:1682px) and (max-width:1920px){

}

@media screen and (min-width: 1630px) {
  header {
    margin-right: 15%;
  }
  .opciones li a {
    font-size: 30px;
  }
  .opciones{
    margin-top: -10px;
  }
  .opciones li button {
    font-size: 35px;
    width: 150px;
  }
}

@media screen and (max-width:1266px) {
  .opciones li a {
    font-size: 20px;
  }
}

@media screen and (max-width:1212px) {
  .opciones li a {
    font-size: 20px;
  }

  .opciones li {
    padding-top: 10px;
  }

  .opciones {
    gap: 1em;
    margin-left: 10px;
  }

  .opciones li button {
    font-size: 22px;
    width: 100px;
    margin-left: 0;
  }
}

@media screen and (max-width: 1045px) {
  .opciones {
    padding-top: 10px;
  }

  .opciones li a {
    font-size: 20px;
  }

  .opciones li button {
    font-size: 19px;
    height: 24px;
  }
  .opciones {
    gap: 0.6em;
  }

}

@media screen and (max-width: 970px) {

  .abrir-btn {
    display: block;
    margin-left: 80%;
    height: 5vh;
    padding-top: 15px;
    cursor: pointer;
    margin-right: 20px;
  }

  .opciones {
    flex-direction: column;
    align-items: end;
    color: black;
  }

  .opciones li {
    margin-top: 2px;
  }

  .opciones li button {
    width: 100px;
  }

  #navbar {
    position: absolute;
    top: 9.7%;
    right: 0;
    background-color: #18233F;
    padding: 1.2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 2;
  }

  #navbar.visible {
    opacity: 1;
    visibility: visible;
  }

}

@media screen and (max-width:660px){
  .logo_img{
    margin-left: 10px;
  }
  .abrir-btn{
    margin-left: auto;
    margin-right: 20px;
  }
  }

